body{
    background: #eeeeee;
}

.todo{
    padding: 30px 0;
}

.todo-card{
    border-radius: 4px;
    background: #fff;
    height: 400px;
    padding: 20px;
}


.todo-box h2{
    padding: 20px;
    border: 2px solid #000;
    margin-top: 20px;
}
.todo-box button{
    color: #fff;
    background: rgb(255, 0, 0, 0.8);
    padding: 15px;
    margin-top: 10px;
    border-radius: 4px;
}


